<header>
    <link rel="stylesheet" href="style.css">
    <nav>
        <a href="home.html">Home</a>
        <a href="contact.html">Contact</a>
    </nav>
</header>
<main>
    <h1>An HTML project</h1>
    <p>
        I'm learning HTML. This is the first
        step to being a full-stack developer.
        By the end of the first week, I will have
         built my first full-stack application!
    </p>
    <p>
        My favorite search engine is
        <a href="https://duckduckgo.com">DuckDuckgo</a>
    </p>
    <div class="my-grid">
        <div class="has-blue-background">Box1</div>
        <div class="has-yellow-background">Box2</div>
        <div class="has-yellow-background">Box3</div>
        <div class="has-blue-background">Box4</div>
    </div>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like pie</div>
</footer>
