<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>Jeff Montag</h1>
    <p>
        Reach me never
    </p>
    <p>
        My favorite search engine is
        <a href="https://duckduckgo.com">DuckDuckgo</a>
    </p>
    <div>
        <div>Box1</div>
        <div>Box2</div>
        <div>Box3</div>
        <div>Box4</div>
    </div>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like pie</div>
</footer>
